# Ignore files
*.pth
*.env
*.ipynb
*.csv
*.zip
eval.py
answer1.json
answer2.json
answer3.json
paths_to_delete.txt
# Ignore Python bytecode directories
__pycache__/

# Ignore the local directory
m3e-small/
Qwen3-0.6B/
chroma_db/
bge-reranker-base/
rag_results/
