# Ignore PyTorch model checkpoints
*.pth
.env

# Ignore Python bytecode directories
__pycache__/

# Ignore the local BERT model directory
m3e-small/
Qwen3-0.6B/
chroma_db/
bge-reranker-base/